<ion-header>
  <ion-toolbar>
    <ion-title>user register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mobile-input">
        <img src="/assets/images/sticky-page-3-mobile.png">
      <form>
          <ion-item>
              <ion-label position="stacked">user name</ion-label>
              <ion-input></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">mobile number</ion-label>
              <ion-input></ion-input>
          </ion-item>
          <div class="login-button">
              <ion-button expand="full">submit</ion-button>
          </div>
      </form>
    </div>
</ion-content>
