<ion-header class="main-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon name="list"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title class="top-headtitle"><p>User Profile</p></ion-title>
      <span class="edit-profile"><ion-icon name="create"></ion-icon></span>
    </ion-toolbar>
  </ion-header> 
  <ion-content class="profile-head"> 
    <div class="circle-pic">
      <span class="active"></span>
        <img src="assets/images/19.png"><br>
        <ion-icon name="camera"></ion-icon>
        <p>mr. john singh</p>
    </div>
    
    <div class="name-card">   
        <ion-list class="bolder"><p><span>Name:</span> sony</p></ion-list>
        <ion-list class="bolder"><p><span>E-mail:</span> sandeep.gwebs@gmail.com</p></ion-list>
        <ion-list class="bolder"><p><span>Mobile:</span> 8684085789</p></ion-list>
        <ion-list class="bolder"><p><span>Gender:</span> male</p></ion-list>     
    </div>  
  </ion-content>