.circle-pic {
    text-align: center;
    padding: 50px 0 16px;
    position: relative;
    background: #fead18;
}

span {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.name-card p{
    font-size: 20px;
}
.name-card {
    margin: 24px 0px;
}
.name-card ion-list{
   padding:0 20px;
}
.name-card ion-list{
    margin:0px;
 }
.circle-pic img {
    height: 100px;
    width: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    padding: 5px;
}
.circle-pic p {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
}
.circle-pic span.active {
    background: #65e575;
    height: 12px;
    width: 12px;
    color: #007c16;
    content: "";
    position: absolute;
    right: 50%;
    left: 56%;
    top: 46px;
    border-radius: 24px;
}
.circle-pic ion-icon{
    top: 54%;
    font-size: 32px;
    left: 55%;
    color: #000;
    position: absolute;
}
span.edit-profile {
    float: right;
    margin: 0px 6px;
}
.name-card p {
    margin: 14px 0;
}