<ion-header>
  <ion-toolbar>
    <ion-title>log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-form">
      <img src="/assets/images/meeting-vector.png">
      <form>
          <ion-item>
              <ion-label position="stacked">email</ion-label>
              <ion-input></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked">password</ion-label>
              <ion-input></ion-input>
          </ion-item>

          <div class="login-button">
              <ion-button expand="full" routerLink="/userrecords">log in</ion-button>
          </div>
      </form>
      <ion-item class="opction">
        <ion-list><p>forget password ?</p></ion-list>
        <ion-list><p class="signuptg" routerLink="/signup">sign up</p></ion-list>
      </ion-item>
      <span class="andor">or</span>
      <div class="social-opction">
         <p class="facbook"><ion-icon name="logo-facebook"></ion-icon></p>
         <p class="google"><ion-icon name="logo-google"></ion-icon></p>
         <p class="twitter"><ion-icon name="logo-twitter"></ion-icon></p>
      </div>
    </div>
</ion-content>
