.entery {
    padding: 20px 19px;
}
ion-button {
    --background: #fead18;
    --background-activated: #fead18;
    margin: 17px 0px 0 11px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.1px;
}
span.calnder-icon {
    position: absolute;
    bottom: -5px;
    right: 2px;
    font-size: 27px;
    color: #FEAD18;
}