<ion-header>
  <ion-toolbar>
      <ion-button>
          <ion-menu-button><ion-icon name="arrow-round-back"></ion-icon></ion-menu-button>
      </ion-button>
    <ion-title>add users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-form">
      <div class="circle-pic">       
          <img src="assets/images/21.png"><br>
          <ion-icon name="camera"></ion-icon>             
      </div>
      <form>
          <ion-item>
              <ion-label position="stacked">name</ion-label>
              <ion-input></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked">email</ion-label>
              <ion-input></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked">mobile no.</ion-label>
              <ion-input></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked">address</ion-label>
              <ion-input></ion-input>
          </ion-item>

          <div class="login-button">
              <ion-button expand="defult" routerLink="/userprofile">submit</ion-button>
          </div>
      </form>
       
    </div>
</ion-content>
