<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button><ion-icon name="list"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>credit / debit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="all-list">
  <ion-card> 
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-img src="/assets/images/15.png"></ion-img>
            <ion-label routerLink="/userhistory">mr john</ion-label>
            <p>category: id5</p>
          </ion-col>
          <ion-col size="3" class="right-bar">
            <ion-icon name="more" (click)=presentAlert()></ion-icon>
            <span></span>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-card> 
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-img src="/assets/images/18.png"></ion-img>
            <ion-label routerLink="/userhistory">mr james</ion-label>
            <p>category: id3</p>
          </ion-col>

          <ion-col size="3" class="right-bar">
              <ion-icon name="more"></ion-icon>
              <span></span>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-card> 
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-img src="/assets/images/19.png"></ion-img>
            <ion-label routerLink="/userhistory">mr mark</ion-label>
            <p>category: id2</p>
          </ion-col>
          <ion-col size="3" class="right-bar">
            <ion-icon name="more"></ion-icon>
            <span></span>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-card> 
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-img src="/assets/images/21.png"></ion-img>
            <ion-label routerLink="/userhistory">mr mils</ion-label>
            <p>category: id1</p>
          </ion-col>
          <ion-col size="3" class="right-bar">
              <ion-icon name="more"></ion-icon>
              <span></span>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-card> 
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-img src="/assets/images/in-person_icon.png"></ion-img>
            <ion-label routerLink="/userhistory">mr monty</ion-label><br>
            <p>category: lic</p>
          </ion-col>
          <ion-col size="3" class="right-bar">
              <ion-icon name="more"></ion-icon>
              <span></span>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" class="my-fab" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/addusers">
      <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
    </ion-fab-button>
</ion-fab>